doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='utf-8')
  title Patient Registration form
  link(rel='stylesheet' href='custom.css')
header
  .uganda-images
    img(src='form-header-image.png' alt='')
  .form-title
    h6 Ministry of Health
    h2 COVID-19 (CORONA VIRUS)
    h6 Virus-Test Registration Form
.register-form
  form.register(action='index.html' method='post')
    .names
      label(for='surname') Surname
      input(type='text' name='surname' value='surname')
      label(for='givenName') Given name
      input(type='text' name='givenName' value='givenName')
    .birthResidence
      label(for='dateOfBirth') Date Of Birth
      input(type='date' name='dateOfBirth' value='dateOfBirth')
      label(for='placeOfResidence') Place Of Residence
      input(type='text' name='placeOfResidence' value='placeOfResidence')
    .occupationNationality
      label(for='occupation') Occupation
      input(type='text' name='occupation' value='occupation')
      label(for='nationality') Nationality
      input(type='text' name='nationality' value='nationality')
    .gender
      | Gender
      hr
      input#male(type='radio' name='gender' value='male')
      label(for='male') Male
      br
      input#female(type='radio' name='gender' value='female')
      label(for='female') Female
      br
    .category
      label(value='select Category') Category
      select#myCategories
        option(value='' disabled='' selected='' hidden='') -Select Category-
        option(value='1') Returnee
        option(value='2') Contact
        option(value='3') Alert
        option(value='4') Volunteer
    button(type='submit' name='button') Register
